.gate-wrapper {
  position: absolute;
  min-width: 100vw;
  height: 100vh;
  z-index: 0;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.gate-wrapper svg {
  width: 100%;
  height: 100%;
  display: block;
  /* display: none; */
}

.stargate {/* controls viewport of stargate */
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100vw;
  transform: translate(-50%, -50%);
  height: 100vh;
}

.occular {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.occular > div {
  width: 50%;
  height: 100%;
  /* transition: all 6000ms; */
  background-repeat: no-repeat;
}

body {
  background: linear-gradient(to bottom, #3b679e 36%,#207cca 75%,#2b88d9 76%,#3b679e 93%,#7db9e8 100%);
}

.left {
  /* background-color: lightsteelblue; */
  background-image: url(/img/joel-filipe-191372-unsplash.jpg);
}

.splat {
  width: 100%;
  height: 100%;
}

@keyframes flowLeft {
  from {
    background-position: -100% -100%;
  }

  to {
    background-position: 200% 200%;
  }
}

.left {
  animation-duration: 3s;
  animation-name: flowLeft;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */
}
