.gate-wrapper {
  position: absolute;
  min-width: 100vw;
  height: 100vh;
  z-index: -1;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.gate-wrapper svg {
  width: 100%;
  height: 100%;
  display: block;
  /* display: none; */
}

.stargate {/* controls viewport of stargate */
  left: 50%;
  position: absolute;
  top: 50%;
  width: 100vw;
  transform: translate(-50%, -50%);
  height: 100vh;
}

.occular {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.occular > div {
  width: 50%;
  height: 100%;
  /* background: none !important; */
  background-repeat: repeat;
}

body {
  background: linear-gradient(to bottom, #3b679e 36%,#207cca 75%,#2b88d9 76%,#3b679e 93%,#7db9e8 100%);
}

.star-container {
  overflow: hidden;
  background-size: 100%;
  transition: opacity 18000ms;
}

@keyframes starFlowLeft {
  0% {background-position: 100px center; opacity: 0}
  45% {opacity: 1}
  65% {opacity: 0.68}
  100% {background-position: -200px center; opacity: 0}
}

.star-container {
  animation-duration: 18s;
  animation-name: starFlowLeft;
  animation-iteration-count: infinite;
  /* animation-fill-mode: forwards; */
  animation-timing-function: none;
}

.right {
  transform: rotate(180deg);
}

.overlay {
  height: 100%;
  background-repeat: repeat;
  /* background-position: right center; */
  /* background-size: 90% 80%; */
  margin-left: auto;

  /* overflow: hidden; */
  background-size: 160%;
  transition: opacity 18000ms;
}

@keyframes guideFlowLeft {
  0% {background-position: 100px bottom; }
  45% {}
  65% {}
  100% {background-position: -200px bottom;}
}

.overlay {
  animation-duration: 18s;
  animation-name: guideFlowLeft;
  animation-iteration-count: infinite;
  animation-timing-function: none;
}