main {
  padding: 3vw; 
  position: relative; 
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.gate-wrapper {
  position: absolute;
  min-width: 100vw;
  height: 100vh;
  z-index: 0;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.gate-wrapper svg {
  width: 100%;
  height: 100%;
  display: block;
}